a {
  text-decoration: none;
}
.header_links {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
  margin: 5px;
}
.header_space {
  margin: 0 10px;
}
.title {
  text-align: center;
}
