.container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.home {
  margin-top: 3rem;
}
.planets_dropdown_list {
  list-style-type: none;
  padding: 5px 0;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 4px 0 8px rgba(0, 0, 0, 0.2);
}
.vehicles_dropdown_list {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
.vehicles_dropdown_list input {
  cursor: pointer;
}
.dropdown_button {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 5px;
}
.result {
  margin-top: 6rem;
}
