.planets_dropdown_list {
  list-style-type: none;
  padding: 6px 0;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 4px 0 8px rgba(0, 0, 0, 0.2);
  background-color: #fffdd0;
}

.planets_dropdown_list li {
  padding: 4px;
}
.no_matching_options {
  padding: 6px;
  color: red;
  font-style: italic;
  font-size: 13px;
}
.input {
  background-color: #fffdd0;
  height: 20px;
}
