.list_of_dropdowns {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 50px; /* Add a gap between the dropdowns */
}

.dropdown-container {
  position: relative;
  width: 200px;
}

.dropdown_options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  border: 1px solid olive;
  margin: 0;
  position: absolute;
  z-index: 3;
  background-color: #fff; /* Set a background color for the dropdown options */
}

.dropdown_options li {
  padding: 2px;
  cursor: pointer;
}

.disabled {
  color: gray;
  pointer-events: none;
}

.disabledText {
  opacity: 0.5;
}
