@import url("https://fonts.googleapis.com/css2?family=Borel:wght@100;400&display=swap");

body,
html {
  font-family: "Borel";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.App {
  font-family: serif;
  text-align: center;
  font-size: large;
}
